<% if user_signed_in? %>
 	<div class="jumbotron">
 		<iframe src="http://player.vimeo.com/video/69081661" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
 	</div>
 	<div class="jumbotron">
 		<iframe src="http://player.vimeo.com/video/69080980" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
 	</div>
 	<div class="jumbotron">
 		<iframe src="http://player.vimeo.com/video/69080315" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
 	</div>
</div>

<% else %>


		<div class="jumbotron">
			<img src="/assets/big-debate.png"/>
			<h1>Welcome to the The Big Debate</h1>
			<h3> You've found the highlights of the 2013 Lugano conference.</h3>
			<hr>
			<%= simple_form_for("user", :url => new_user_session_path) do |f| %>
			  <%= f.text_field :username %>
			  <br>
			  <%= f.password_field :password %>
			  <br>
			  <%= f.submit 'Sign in', class: 'btn btn-success btn-large' %>

<% end %>
</div>
<% end %>
