<% if user_signed_in? %>
 	<div class="jumbotron">
 		<iframe src="http://player.vimeo.com/video/69081661" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
 	</div>
 	<div class="jumbotron">
 		<iframe src="http://player.vimeo.com/video/69080980" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
 	</div>
 	<div class="jumbotron">
 		<iframe src="http://player.vimeo.com/video/69080315" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
 	</div>
</div>

<% else %>

<div class="well">
	<h1>Welcome to the The Big Debate</h1>
		<h3> 
			You've found the highlights of the 
				<%= link_to "2013 Lugano conference.", "#" %>
		</h3>
		<p>
			<%= link_to "Login", new_user_registration_path, class: "btn btn-success btn-large" %>
		</p>
</div>
<% end %>
