$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';


.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.footer {

	margin-top: 50px;
	margin-bottom: 20px;
	color: $grayLight;
	text-align: center;
}

.jumbotron {
	text-align: center;
}

.well {	
	max-width: 100%;
	text-align: center;
}

.btn {
	margin-left: -3px;
	margin-right:3px;
	padding-left: 80px;
	padding-right: 80px;
}

.thumbnail {
	text-align: center;
	border:none;
	margin-top:20px;
	padding-top:10px;
	-webkit-box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.055);
	border-top: 2px solid #f5f5f5;
	border-left: 2px solid #f5f5f5;
	border-right: 2px solid #f5f5f5;
	border-radius: 0px;
}
